@model StoreModels.Order

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>
<p class="lead">@ViewBag.CurrentLocation.Name</p>

<div>
    <hr />
    <h4>Items</h4>
    <dl class="row">
        @foreach (var item in Model.LineItems)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Product.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Product.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Product.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Product.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Quantity)
            </dd>
        }
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<form asp-action="PlaceOrder" asp-controller="Order">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="LocationId" value="@Model.LocationId" />
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    <input type="hidden" asp-for="Total" value="@Model.Total" />
    <input type="submit" value="Place Order" class="btn btn-primary" /> |
    @Html.ActionLink("Back To List", "Inventory", "Location", new { id = Model.LocationId })
</form>