@using Microsoft.AspNetCore.Identity
@using StoreModels
@model StoreWebUI.Models.LocationVM
@{
    ViewData["Title"] = "Inventory";
}
@inject SignInManager<User> SignInManager

<h1>@Html.DisplayFor(model => model.Name)'s Inventory</h1>
<h3>Location: @Html.DisplayFor(model => model.Address)</h3>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Product To Inventory", "AddInventory", new { id = Model.Id })
    }
    else if(SignInManager.IsSignedIn(User))
    {
        @Html.ActionLink("View Cart", "Index", "Order", new { id = Model.Id })
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventories[0].Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventories[0].Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventories[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Update Quantity", "UpdateInventory", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteInventory", new { id = item.Id })
                    </td>
                }
                else if (SignInManager.IsSignedIn(User))
                {
                    <td>@Html.ActionLink("Add To Cart", "AddToCart", "Order", new { id = item.Id })</td>
                }
            </tr>
        }
    </tbody>
</table>