@model IEnumerable<OrderVM>
@{
    ViewData["Title"] = "Index";
}

<h2>Order History</h2>
<p class="lead">@ViewBag.CurrentLocation.Name</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="OrderHistory" asp-controller="Location" asp-route-id="@Model.First().LocationId" asp-route-sortOrder="@ViewBag.DateSortParm">
                    @Html.DisplayNameFor(model => model.DateCreated)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderUser.Name)
            </th>
            <th>
                Item Name
            </th>
            <th>
                Item Price
            </th>
            <th>
                Item Quantity
            </th>
            <th>
                <a asp-action="OrderHistory" asp-controller="Location" asp-route-id="@Model.First().LocationId" asp-route-sortOrder="@ViewBag.PriceSortParm">
                    @Html.DisplayNameFor(model => model.Total)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderItem in Model)
        {
        <tr>
            <td>@orderItem.DateCreated</td>
            <td>@orderItem.OrderUser.Name</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
            @foreach (var lineItem in orderItem.LineItems)
            {
            <tr>
                <td></td>
                <td></td>
                <td>@lineItem.Product.Name</td>
                <td>@lineItem.Product.Price</td>
                <td>@lineItem.Quantity</td>
                <td></td>
            </tr>
            }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@orderItem.Total</td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>